/* #59D9E1 - links
#CF3036 - header back
#0E1822 - main background
#1B345D - backgroundcolor
#C2D6EC - font
#5D6573 - footer */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: #1B345D;
    color: #C2D6EC;
    font-size: 14px;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.link{
    color: #59D9E1;
}

header{
    background-color: #CF3036;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px;
}
h1{
    padding: 20px 0;
}

#sideMenu{
    width: 20%;
    height: auto;
    display: inline-block;
    background-color: #2A7D8C;
    vertical-align: top;
    border-radius: 20px;
    margin-right: 25px;
}
#outerList{
    margin-left: 35px;
    padding: 20px 0;
}
#outerList li:first-child{
    list-style: none;
}
#nestedList{
    margin-left: 20px;
}
#nestedList li:first-child{
    list-style: circle;
}

#main{
    width: 70%;
    height: auto;
    display: inline-block;
    background-color: #0E1822;
    border-radius: 20px;
}
#content{
    padding: 20px 0;
}
#content h2,p{
    margin-bottom: 10px;;
}
#description{
    margin-left: 12px;;
}

footer{
    background-color: #5D6573;
    border-radius: 10px;
    height: auto;
    width: 100%;
    position: absolute;
    top: 96%;
}
footer p{
    padding: 10px 0;
}